@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e2e8f0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #262626;
  border: 3px solid #262626;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0d0d0d;
}

.gradient-text {
  background: linear-gradient(to right, #ffffff, #c1c7d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img, div {
  max-width: 100vw;
}

.btn::before {
  content: "";
  position: absolute;
  top: -6px; /* Sesuaikan jarak ke atas */
  left: -6px; /* Sesuaikan jarak ke kiri */
  right: -6px; /* Sesuaikan jarak ke kanan */
  bottom: -6px; /* Sesuaikan jarak ke bawah */
  border: 3px solid white;
  filter: blur(6px);
  border-radius: 10px; /* Sesuaikan dengan button */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1; /* Pastikan bayangan di belakang */
}

.btn:hover::before {
  opacity: 1;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}